 h1 { background-image: url("ab.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: azure;
    color: white;
    text-align: center;
    padding: 100px;
}
nav 
    body{
        background-color: lemonchiffon; 
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float: right
}
    ;}
    
        nav {
    background-color: azure;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: black;
}